<button type="button" class="modal-action modal-close btn-flat"
        (click)="this.ownersAnimalsService.openModalAddOwnersAnimals()">Добавить хозяина
</button>

<app-add-owners-animals *ngIf="this.ownersAnimalsService.indicatorModalAddOwnersAnimals">
</app-add-owners-animals>
<app-edit-owners-animals *ngIf="this.ownersAnimalsService.indicatorModalEditOwnersAnimals">
</app-edit-owners-animals>
<app-delete-owners-animals *ngIf="this.ownersAnimalsService.indicatorModalDeleteOwnersAnimals">
</app-delete-owners-animals>

<app-table-ui [data]="this.ownersAnimalsService.owners_animals">
  <ng-template #th>
    <th *ngFor="let header of header">{{header}}</th>
  </ng-template>
  <ng-template #tr let-item="item">
    <td>{{item.id}}</td>
    <td>{{item.full_name}}</td>
    <td>{{item.phone_owners}}</td>
    <td>{{item.adress}}</td>
    <td>{{item.nickname_animals}}</td>
    <td>{{item.gender_animals}}</td>
    <td>{{item.date_handed_over_to_owner}}</td>
    <td>{{item.return_date_reason}}</td>
    <button type="button" class="btn-flat"
            (click)="this.ownersAnimalsService.openModalEditOwnersAnimals(item)">Изменить
    </button>
    <button type="button" class="btn-flat"
            (click)="this.ownersAnimalsService.openModalDeleteOwnersAnimals(item.id)">Удалить
    </button>
  </ng-template>
</app-table-ui>
