<div class="modal custom-modal">
  <div class="modal-content">
    <table class="striped centered">
      <tr>
        <td class="right">ID животного</td>
        <td>{{this.animalsService.fullAnimals.animal_id}}</td>
      </tr>
      <div class="divider"></div>
      <div>Таблица животного</div>
      <tr>
        <td class="right">Кличка</td>
        <td>{{this.animalsService.fullAnimals.nickname_animals}}</td>
      </tr>
      <tr>
        <td class="right">Вид</td>
        <td>{{this.animalsService.fullAnimals.animal_species}}</td>
      </tr>
      <tr>
        <td class="right">Пол</td>
        <td>{{this.animalsService.fullAnimals.gender_animal}}</td>
      </tr>
      <tr>
        <td class="right">Фото/видео</td>
        <td>{{this.animalsService.fullAnimals.photo_video}}</td>
      </tr>
      <tr>
        <td class="right">Ответственное лицо</td>
        <td>{{this.animalsService.fullAnimals.responsible_person}}</td>
      </tr>
      <tr>
        <td class="right">Дата рождения</td>
        <td>{{this.animalsService.fullAnimals.date_of_birth}}</td>
      </tr>
      <tr>
        <td class="right">Вакцинация</td>
        <td>{{this.animalsService.fullAnimals.vaccination}}</td>
      </tr>
      <tr>
        <td class="right">Дегельментизация</td>
        <td>{{this.animalsService.fullAnimals.deworming}}</td>
      </tr>
      <tr>
        <td class="right">Стерелизация/Кастрация</td>
        <td>{{this.animalsService.fullAnimals.sterilization_castration}}</td>
      </tr>
      <tr>
        <td class="right">Лечение</td>
        <td>{{this.animalsService.fullAnimals.treatment}}</td>
      </tr>
      <tr>
        <td class="right">Пункт содержания</td>
        <td>{{this.animalsService.fullAnimals.content_item}}</td>
      </tr>
      <tr>
        <td class="right">Баланс</td>
        <td>{{this.animalsService.fullAnimals.balance}}</td>
      </tr>
      <tr>
        <td class="right">Документы</td>
        <td>{{this.animalsService.fullAnimals.documents}}</td>
      </tr>
      <tr>
        <td class="right">Хозяин</td>
        <td>{{this.animalsService.fullAnimals.owner_animals}}</td>
      </tr>
      <div class="divider"></div>
      <div>Таблица пункт содержания</div>
      <tr>
        <td class="right">Наименнование</td>
        <td>{{this.animalsService.fullAnimals.name_content}}</td>
      </tr>
      <tr>
        <td class="right">ФИО владельца</td>
        <td>{{this.animalsService.fullAnimals.full_name_owner}}</td>
      </tr>
      <tr>
        <td class="right">Номер телефона</td>
        <td>{{this.animalsService.fullAnimals.phone_content_items}}</td>
      </tr>
      <tr>
        <td class="right">Баланс</td>
        <td>{{this.animalsService.fullAnimals.payment}}</td>
      </tr>
      <div class="divider"></div>
      <div>Таблица ответственное лицо</div>
      <tr>
        <td class="right">ФИО</td>
        <td>{{this.animalsService.fullAnimals.full_name_responsible}}</td>
      </tr>
      <tr>
        <td class="right">Номер телефона</td>
        <td>{{this.animalsService.fullAnimals.phone_responsible}}</td>
      </tr>
      <tr>
        <td class="right">Адрес ВКонтакте</td>
        <td>{{this.animalsService.fullAnimals.vkontakte_link}}</td>
      </tr>
      <div class="divider"></div>
      <div>Таблица хозяева</div>
      <tr>
        <td class="right">ФИО</td>
        <td>{{this.animalsService.fullAnimals.full_name}}</td>
      </tr>
      <tr>
        <td class="right">Номер телефона</td>
        <td>{{this.animalsService.fullAnimals.phone_owners}}</td>
      </tr>
      <tr>
        <td class="right">Адрес</td>
        <td>{{this.animalsService.fullAnimals.adress}}</td>
      </tr>
      <tr>
        <td class="right">Дата передачи владельцу</td>
        <td>{{this.animalsService.fullAnimals.date_handed_over_to_owner}}</td>
      </tr>
      <tr>
        <td class="right">Дата возврата, причина</td>
        <td>{{this.animalsService.fullAnimals.return_date_reason}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <a (click)="animalsService.closeModalFullAnimals()"
       class=" modal-action modal-close btn-flat">Закрыть
    </a>
  </div>
</div>
