<button type="button" class="modal-action modal-close waves-effect waves-green btn-flat"
        (click)="this.contentItemsService.openModalAddContentItems()">Добавить пункт содержания
</button>

<app-add-content-items *ngIf="this.contentItemsService.indicatorModalAddContentItems">
</app-add-content-items>
<app-edit-content-items *ngIf="this.contentItemsService.indicatorModalEditContentItems">
</app-edit-content-items>
<app-delete-content-items *ngIf="this.contentItemsService.indicatorModalDeleteContentItems">
</app-delete-content-items>

<app-table-ui [data]="this.contentItemsService.content_items">
  <ng-template #th>
    <th *ngFor="let header of header">{{header}}</th>
  </ng-template>
  <ng-template #tr let-item="item">
    <td>{{item.id}}</td>
    <td>{{item.name_content}}</td>
    <td>{{item.full_name_owner}}</td>
    <td>{{item.phone_content_items}}</td>
    <td>{{item.payment}}</td>
    <button type="button" class="waves-effect waves-teal btn-flat"
            (click)="this.contentItemsService.openModalEditContentItems(item)">Изменить
    </button>
    <button type="button" class="waves-effect waves-teal btn-flat"
            (click)="this.contentItemsService.openModalDeleteContentItems(item.id)">Удалить
    </button>
  </ng-template>
</app-table-ui>
