<div class="modal custom-modal">
  <form class="modal-content" [formGroup]="form">
    <h4>Добавить хозяина</h4>
    <div>
      <label
        [ngClass]="(form.controls['full_name'].invalid && form.controls['full_name'].touched) ? this.errorClass : this.notErrorClass"
        for="full_name">ФИО</label>
      <input
        [ngClass]="form.controls['full_name'].invalid && form.controls['full_name'].touched ? this.errorClass : this.notErrorClass"
        id="full_name" type="text" formControlName="full_name">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['phone_owners'].invalid && form.controls['phone_owners'].touched) ? this.errorClass : this.notErrorClass"
        for="phone_owners">Номер телефона</label>
      <input
        [ngClass]="form.controls['phone_owners'].invalid && form.controls['phone_owners'].touched ? this.errorClass : this.notErrorClass"
        id="phone_owners" type="text" formControlName="phone_owners">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['adress'].invalid && form.controls['adress'].touched) ? this.errorClass : this.notErrorClass"
        for="adress">Адрес</label>
      <input
        [ngClass]="form.controls['adress'].invalid && form.controls['adress'].touched ? this.errorClass : this.notErrorClass"
        id="adress" type="text" formControlName="adress">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['nickname_animals'].invalid && form.controls['nickname_animals'].touched) ? this.errorClass : this.notErrorClass"
        for="nickname_animals">Кличка</label>
      <input
        [ngClass]="form.controls['nickname_animals'].invalid && form.controls['nickname_animals'].touched ? this.errorClass : this.notErrorClass"
        id="nickname_animals" type="text" formControlName="nickname_animals">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['gender_animals'].invalid && form.controls['gender_animals'].touched) ? this.errorClass : this.notErrorClass"
        for="gender_animals">Вид животного</label>
      <input
        [ngClass]="form.controls['gender_animals'].invalid && form.controls['gender_animals'].touched ? this.errorClass : this.notErrorClass"
        id="gender_animals" type="text" formControlName="gender_animals">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['date_handed_over_to_owner'].invalid && form.controls['date_handed_over_to_owner'].touched) ? this.errorClass : this.notErrorClass"
        for="date_handed_over_to_owner">Дата передача владельцу</label>
      <input
        [ngClass]="form.controls['date_handed_over_to_owner'].invalid && form.controls['date_handed_over_to_owner'].touched ? this.errorClass : this.notErrorClass"
        id="date_handed_over_to_owner" type="text" placeholder="Укажите дату в формате ГГГГ-ММ-ДД"
        formControlName="date_handed_over_to_owner">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['return_date_reason'].invalid && form.controls['return_date_reason'].touched) ? this.errorClass : this.notErrorClass"
        for="return_date_reason">Дата возврата, причина</label>
      <input
        [ngClass]="form.controls['return_date_reason'].invalid && form.controls['return_date_reason'].touched ? this.errorClass : this.notErrorClass"
        id="return_date_reason" type="text" placeholder="Укажите дату в формате ГГГГ-ММ-ДД, причину возврата"
        formControlName="return_date_reason">
    </div>
  </form>
  <div class="modal-footer">
    <a (click)="addData()"
       class=" modal-action modal-close btn-flat">Добавить
    </a>
    <a (click)="ownersAnimalsService.closeModalAddOwnersAnimals()"
       class=" modal-action modal-close btn-flat">Закрыть
    </a>
  </div>
</div>
