<div class="modal custom-modal">
  <form class="modal-content" [formGroup]="form">
    <h4>Добавить животное</h4>
    <div>
      <label
        [ngClass]="(form.controls['nickname_animals'].invalid && form.controls['nickname_animals'].touched) ? this.errorClass : this.notErrorClass"
        for="nickname_animals">Кличка животного</label>
      <input
        [ngClass]="form.controls['nickname_animals'].invalid && form.controls['nickname_animals'].touched ? this.errorClass : this.notErrorClass"
        id="nickname_animals" type="text" formControlName="nickname_animals">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['animal_species'].invalid && form.controls['animal_species'].touched) ? this.errorClass : this.notErrorClass"
        for="animal_species">Вид животного</label>
      <input
        [ngClass]="form.controls['animal_species'].invalid && form.controls['animal_species'].touched ? this.errorClass : this.notErrorClass"
        id="animal_species" type="text" formControlName="animal_species">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['gender_animal'].invalid && form.controls['gender_animal'].touched) ? this.errorClass : this.notErrorClass"
        for="gender_animal">Пол животного</label>
      <input
        [ngClass]="form.controls['gender_animal'].invalid && form.controls['gender_animal'].touched ? this.errorClass : this.notErrorClass"
        id="gender_animal" type="text" maxlength="1" formControlName="gender_animal">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['photo_video'].invalid && form.controls['photo_video'].touched) ? this.errorClass : this.notErrorClass"
        for="photo_video">Ссылка на фото/видео</label>
      <input
        [ngClass]="form.controls['photo_video'].invalid && form.controls['photo_video'].touched ? this.errorClass : this.notErrorClass"
        id="photo_video" type="text" formControlName="photo_video">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['responsible_person'].invalid && form.controls['responsible_person'].touched) ? this.errorClass : this.notErrorClass"
        for="responsible_person">Ответстветнное лицо </label>
      <input
        [ngClass]="form.controls['responsible_person'].invalid && form.controls['responsible_person'].touched ? this.errorClass : this.notErrorClass"
        id="responsible_person" type="text" formControlName="responsible_person">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['date_of_birth'].invalid && form.controls['date_of_birth'].touched) ? this.errorClass : this.notErrorClass"
        for="date_of_birth">Дата рождения</label>
      <input
        [ngClass]="form.controls['date_of_birth'].invalid && form.controls['date_of_birth'].touched ? this.errorClass : this.notErrorClass"
        id="date_of_birth" type="text" placeholder="Укажите дату в формате ГГГГ-ММ-ДД" formControlName="date_of_birth">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['vaccination'].invalid && form.controls['vaccination'].touched) ? this.errorClass : this.notErrorClass"
        for="vaccination">Вакцинация</label>
      <input
        [ngClass]="form.controls['vaccination'].invalid && form.controls['vaccination'].touched ? this.errorClass : this.notErrorClass"
        id="vaccination" type="text" placeholder="Укажите дату в формате ГГГГ-ММ-ДД, после укажите примечание"
        formControlName="vaccination">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['deworming'].invalid && form.controls['deworming'].touched) ? this.errorClass : this.notErrorClass"
        for="deworming">Дегельметизация</label>
      <input
        [ngClass]="form.controls['deworming'].invalid && form.controls['deworming'].touched ? this.errorClass : this.notErrorClass"
        id="deworming" type="text" placeholder="Укажите дату в формате ГГГГ-ММ-ДД, после укажите примечание"
        formControlName="deworming">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['sterilization_castration'].invalid && form.controls['sterilization_castration'].touched) ? this.errorClass : this.notErrorClass"
        for="sterilization_castration">Стерилизация/кастрация</label>
      <input
        [ngClass]="form.controls['sterilization_castration'].invalid && form.controls['sterilization_castration'].touched ? this.errorClass : this.notErrorClass"
        id="sterilization_castration" type="text"
        placeholder="Укажите дату в формате ГГГГ-ММ-ДД, после укажите примечание"
        formControlName="sterilization_castration">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['treatment'].invalid && form.controls['treatment'].touched) ? this.errorClass : this.notErrorClass"
        for="treatment">Лечение</label>
      <input
        [ngClass]="form.controls['treatment'].invalid && form.controls['treatment'].touched ? this.errorClass : this.notErrorClass"
        id="treatment" type="text" placeholder="Укажите дату в формате ГГГГ-ММ-ДД, после укажите примечание"
        formControlName="treatment">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['content_item'].invalid && form.controls['content_item'].touched) ? this.errorClass : this.notErrorClass"
        for="content_item">Пункт содержания</label>
      <input
        [ngClass]="form.controls['content_item'].invalid && form.controls['content_item'].touched ? this.errorClass : this.notErrorClass"
        id="content_item" type="text" formControlName="content_item">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['balance'].invalid && form.controls['balance'].touched) ? this.errorClass : this.notErrorClass"
        for="balance">Баланс</label>
      <input
        [ngClass]="form.controls['balance'].invalid && form.controls['balance'].touched ? this.errorClass : this.notErrorClass"
        id="balance" type="text" formControlName="balance">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['documents'].invalid && form.controls['documents'].touched) ? this.errorClass : this.notErrorClass"
        for="documents">Документы</label>
      <input
        [ngClass]="form.controls['documents'].invalid && form.controls['documents'].touched ? this.errorClass : this.notErrorClass"
        id="documents" type="text" formControlName="documents">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['owner_animals'].invalid && form.controls['owner_animals'].touched) ? this.errorClass : this.notErrorClass"
        for="owner_animals">Хозяин</label>
      <input
        [ngClass]="form.controls['owner_animals'].invalid && form.controls['owner_animals'].touched ? this.errorClass : this.notErrorClass"
        id="owner_animals" type="text" formControlName="owner_animals">
    </div>
  </form>
  <div class="modal-footer">
    <a (click)="addData()"
       class=" modal-action modal-close btn-flat">Добавить
    </a>
    <a (click)="animalsService.closeModalAddAnimals()"
       class=" modal-action modal-close btn-flat">Закрыть
    </a>
  </div>
</div>
