<button type="button" class="btn-flat modal-trigger"
        (click)="this.animalsService.openModalAddAnimals()">Добавить животное
</button>
<button type="button" class="modal-action btn-flat"
                 (click)="attachedAnimals()">Пристроенные животные
</button>

<app-add-animals *ngIf="this.animalsService.indicatorModalAddAnimals">
</app-add-animals>
<app-edit-animals *ngIf="this.animalsService.indicatorModalEditAnimals">
</app-edit-animals>
<app-delete-animals *ngIf="this.animalsService.indicatorModalDeleteAnimals">
</app-delete-animals>
<app-full-animals *ngIf="this.animalsService.indicatorModalFullAnimals">
</app-full-animals>

<app-table-ui [data]="this.animalsService.animals">
  <ng-template #th>
    <th *ngFor="let header of header">{{header}}</th>
  </ng-template>
  <ng-template #tr let-item="item">
    <td>{{item.id}}</td>
    <td (click)="this.animalsService.getFullAnimal(item.id)">{{item.nickname_animals}}</td>
    <td>{{item.animal_species}}</td>
    <td>{{item.gender_animal}}</td>
    <td>{{item.photo_video}}</td>
    <td>{{item.responsible_person}}</td>
    <td>{{item.vaccination}}</td>
    <td>{{item.deworming}}</td>
    <td>{{item.sterilization_castration}}</td>
    <td>{{item.content_item}}</td>
    <td>{{item.balance}}</td>
    <button type="button" class="btn-flat modal-trigger"
            (click)="this.animalsService.openModalEditAnimals(item)">Изменить
    </button>
    <button type="button" class="btn-flat modal-trigger"
            (click)="this.animalsService.openModalDeleteAnimals(item.id)">Удалить
    </button>
  </ng-template>
</app-table-ui>

