  <div class="modal custom-modal">
  <form class="modal-content" [formGroup]="form">
    <h4>Добавить ответсвенное лицо</h4>
    <div>
      <label
        [ngClass]="(form.controls['full_name_responsible'].invalid && form.controls['full_name_responsible'].touched) ? this.errorClass : this.notErrorClass"
        for="full_name_responsible">ФИО</label>
      <input
        [ngClass]="form.controls['full_name_responsible'].invalid && form.controls['full_name_responsible'].touched ? this.errorClass : this.notErrorClass"
        id="full_name_responsible" type="text" formControlName="full_name_responsible">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['phone_responsible'].invalid && form.controls['phone_responsible'].touched) ? this.errorClass : this.notErrorClass"
        for="phone_responsible">Номер телефона</label>
      <input
        [ngClass]="form.controls['phone_responsible'].invalid && form.controls['phone_responsible'].touched ? this.errorClass : this.notErrorClass"
        id="phone_responsible" type="text" formControlName="phone_responsible">
    </div>
    <div>
      <label
        [ngClass]="(form.controls['vkontakte_link'].invalid && form.controls['vkontakte_link'].touched) ? this.errorClass : this.notErrorClass"
        for="vkontakte_link">Адрес ВКонтакте</label>
      <input
        [ngClass]="form.controls['vkontakte_link'].invalid && form.controls['vkontakte_link'].touched ? this.errorClass : this.notErrorClass"
        id="vkontakte_link" type="text" formControlName="vkontakte_link">
    </div>
  </form>
  <div class="modal-footer">
    <a (click)="addData()"
       class=" modal-action modal-close btn-flat">Добавить
    </a>
    <a (click)="responsibleService.closeModalAddResponsible()"
       class=" modal-action modal-close btn-flat">Закрыть
    </a>
  </div>
</div>
